$main-color: #1E1413;
$down-menu-color: #1E1413;
$additional-color: #878787;
$highlight-buttons-color: #E8942C;
$highlight-color: #F1C426;

$title-fontsize: 5vw;
$additional-fontsize: 4vw;
$text-fontsize: 2.7vw;